{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% bootstrap_messages %}
    <div class="container pt-1 pb-5">
        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript jquery='full' %}
    <!-- <script src="{% static 'website/bootstrap-autocomplete.min.js' %}"></script> -->
    <script
        src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
</body>

</html>